.advantages {
	min-height: 2063px;
	outline: 2px solid green;
}

.advantages__slogan {
	.PTSans-18-bold;
	margin-top: 42px;
	line-height: 26px;
	text-transform: uppercase;
	color: @black;
	outline: 1px solid black;
	text-align: center;
}

.advantages__reasons {
	margin-top: 32px;
	.PTSans-18-regular;
	font-size: 14px;
	line-height: 26px;
	color: @black;
	text-transform: uppercase;
	text-align: center;
}