.advantages {
	/*min-height: 2063px;*/
	/*text-align: center;*/
	/*outline: 2px solid green;*/
}


.advantages__slogan {
	.PTSans-18-bold;
	margin-top: 42px;
	width: 264px;
	line-height: 26px;
	text-transform: uppercase;
	color: @black;
	/*outline: 1px solid black;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: @tablet-width) {
	.advantages__slogan {
		margin-top: 64px;
		width: 460px;
		font-size: 21px;
		line-height: 26px;
	}
}

.advantages__reasons {
	margin-top: 32px;
	.PTSans-18-regular;
	font-size: 14px;
	line-height: 26px;
	color: @black;
	text-transform: uppercase;
	text-align: center;
	width: 264px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: @tablet-width) {
	.advantages__reasons {
		width: 520px;
	}
}

.advantages__list {
	margin-top: 28px;
	/*outline: 3px solid orange;*/
	min-height: 470px;
}

.advantages__item {
	/*outline: 2px solid red;*/
	/*&:last-of-type {
		background-color: @grey;
	}*/
}

@media (min-width: @tablet-width) {
	.advantages__item {
		display: flex;

		/*align-items: stretch;*/
		/*min-height: 256px;*/

	}
}