.block-reason {
	position: relative;
	background-color: @blue;
	width: 320px;
	height: 256px;
	padding-top: 44px;
	box-sizing: border-box;
	text-align: center;
}

.block-reason--triangle {
	.block-reason;
	padding-top: 61px;
	text-align: center;	
	&::before {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 81px solid transparent;
	   border-top: 8px solid  @white;;
	   border-right: 81px solid @white;
	   border-bottom: 8px solid transparent;
	   position: absolute;
	   top: 0;
	   left: 0;
	 }
	 	&::after {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 81px solid @white;
	   border-top: 8px solid @white;
	   border-right: 81px solid transparent;
	   border-bottom: 8px solid transparent;
	   position: absolute;
	   top: 0;
	   right: 0;
	 }
}

.block-reason__h2 {
	.PTSans-18-bold;
	margin-top: 0;
	font-size: 18px;
	color: @white;
	line-height: 26px;
	text-transform: uppercase;
	width: 210px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.block-reason__p {
	.PTSans-18-regular;
	font-size: 14px;
	color: @white;
	line-height: 21px;
	text-transform: uppercase;
	width: 280px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px; 	
}

.block-reason__a {
	display: block;
	width: 320px;
	height: 256px;
} 
.block-reason__a--tablet {
	display: none;
}

.block-reason__a--desktop {
	display: none;
}

.block-reason__img {
	width: 320px;
}

@media (min-width: @tablet-width) {
	.block-reason--triangle {
		width: 256px;
		min-height: 256px;		
		padding-top: 50px;
	&::before {
	   display: none;
	 }
	 	&::after {
	   display: none;
	 }
	}
	.block-reason__h2 {
		display: block;
		font-size: 21px;
		line-height: 26px;
		width: 182px;
		margin-left: auto;
		margin-right: auto;
	}
	.block-reason__p {
		width: 182px;
		margin-left: auto;
		margin-right: auto;
	}	
	.block-reason__a {
		display: none;
	}
	.block-reason__a--tablet {
		display: block;
		height: 256px;
	}
		.block-reason__img {
		width: 512px;
	}
	.block-reason--order1 {
		order: 1;
	}
	.block-reason--order2 {
		order: 2;
	}
	.block-reason--order3 {
		order: 3;
	}
}

@media (min-width: @desktop-width) {
	.block-reason {
		flex-grow: 1;
	}



	.block-reason--triangle {
		/*width: 256px;*/
		min-height: 256px;		
		padding-top: 50px;
		flex-grow: 1;
	&::before {
	   display: none;
	 }
	 	&::after {
	   display: none;
	 }
	}
	.block-reason__h2 {
		display: block;
		font-size: 21px;
		line-height: 26px;
		width: 182px;
		margin-left: auto;
		margin-right: auto;
	}
	.block-reason__p {
		width: 182px;
		margin-left: auto;
		margin-right: auto;
	}	
	.block-reason__a {
		display: none;
	}
	.block-reason__a--tablet {
		display: none;
	}
	.block-reason__a--desktop {
		display: block;
		width: 800px;
	}	
		.block-reason__img {
		width: 512px;
	}
	.block-reason--order1 {
		order: 1;
	}
	.block-reason--order2 {
		order: 2;
	}
	.block-reason--order3 {
		order: 3;
	}
}
