* {
	/*outline: 1px solid red;*/
	padding: 0;
	margin: 0;
}

nav {
	/*outline: 2px solid blue;*/
}

ul {
	/*outline: 2px solid black;*/
	padding: 0;
	margin: 0;
}

li {
	/*outline: 1px solid blue;*/
	/*padding: 0;
	margin: 0;*/
	list-style: none;
}

body {
	width: 320px;
	margin-right: auto;
	margin-left: auto;
	/*outline: 2px solid red;*/
}

@media (min-width: @tablet-width) {
	body {
		width: @tablet-width;		
	}
}

@media (min-width: @desktop-width) {
	body {
		width: @desktop-width;		
	}
}

@media (min-width: @desktop-width) {
	body {
		display: block;
		border-left: @border-width-desktop solid @border-color-desktop;
		border-right: @border-width-desktop solid @border-color-desktop;
		box-sizing: border-box;
		outline: 2px solid @red;
	}

}
