.header {
	display: block;
	position: relative;
	min-height: 446px;
	margin: 0;
	padding: 0;
	padding-top: 56px;
	box-sizing: border-box;
	&::before {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 80px solid @white;
	   border-top: 13px solid transparent;
	   border-right: 80px solid transparent;
	   border-bottom: 13px solid @white;
	   top: 418px;
	   left: 0;
	   z-index: 100;
	 }
	 	&::after {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 80px solid transparent;
	   border-top: 13px solid transparent;
	   border-right: 80px solid @white;
	   border-bottom: 13px solid @white;
	   top: 418px;
	   right: 0;
	 }
}

.header__a {
	display: block;
	position: absolute;
	width: 102px;
	height: 83px;
	margin: 0;
	padding: 0;
	top: 0;
	left: 50%;
	margin-left: -51px;
	z-index: 100;
}

.header__logo {
	margin: 0;
	padding: 0;
}

.header__button {
	position: absolute;
	top: 18px;
	right: 20px;
	background-image: url("../image/icon-menu.png");
	background-repeat: no-repeat;
	background-color: transparent;
	width: 23px;
	height: 21px;
	border: none;
}

.header__welcome {
	position: relative;
	text-align: center;
	width: 320px;
	@width: 282px;
	min-height: 388px;
	background-image: url("../image/back-mobile.png");
	background-repeat: no-repeat;
}

.header__text {
	display: block;
	position: absolute;
	width: 282px;
	height: 214px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {
	.header {
		width: @tablet-width;
		padding-top: 0;
		&::before {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 192px solid @white;
	   border-top: 19px solid transparent;
	   border-right: 194px solid transparent;
	   border-bottom: 19px solid @white;
	   position: absolute;
	   top: 482px;
	   left: 0;
	   z-index: 100;
	 }
	 	&::after {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 192px solid transparent;
	   border-top: 19px solid transparent;
	   border-right: 194px solid @white;
	   border-bottom: 19px solid @white;
	   position: absolute;
	   top: 482px;
	   right: 0;
		}
	}
	.header__welcome {
	width: @tablet-width;
	height: 518px;
	background-image: url("../image/back-tablet.png");		
	&::before {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 180px solid @white;
	   border-top: 30px solid transparent;
	   border-right: 180px solid transparent;
	   border-bottom: 30px solid @white;
	   position: absolute;
	   top: 460px;
	   left: (@tablet-width / 2) - 350;
	   z-index: 100;
	 }
	 	&::after {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 180px solid transparent;
	   border-top: 30px solid transparent;
	   border-right: 180px solid @white;
	   border-bottom: 30px solid @white;
	   position: absolute;
	   top: 460px;
	   right: (@tablet-width / 2) - 350;
		}
	}
	.header__logo {
		display: none;
	}
	.header__button {
		display: none;
	}
	.header__text {
		width: 460px;
		height: 350px;
		top: 48%;
	}
	.header__a {
		.out-green;
		display: none;
	}
}

@media (min-width: @desktop-width) {
	.header {
		width: @desktop-width - @border-width-desktop * 2;
		height: 518px;
		/*padding-top: 0;*/
		/*.out-green;*/
		&::before {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 305px solid @white;
	   border-top: 30px solid transparent;
	   border-right: 305px solid transparent;
	   border-bottom: 30px solid @white;
	   position: absolute;
	   top: 460px;
	   left: 0;
	   z-index: 100;
	 }
	 	&::after {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 305px solid transparent;
	   border-top: 30px solid transparent;
	   border-right: 305px solid @white;
	   border-bottom: 30px solid @white;
	   position: absolute;
	   top: 460px;
	   right: 0;
		}
	}

	.header__welcome {
	width: 1200px;
	height: 518px;
	/*.out-red;*/
	background-color: @blue;
	background-image: none;
	background-image: url("../image/back-desktop1.png");
	&::before {
	   content: '';
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-left: 175px solid @white;
	   border-top: 30px solid transparent;
	   border-right: 175px solid transparent;
	   border-bottom: 30px solid @white;
	   position: absolute;
	   top: 460px;
	   left: (@desktop-width / 2) - 350;
	   z-index: 100;
	 }
	 	&::after {
	   content: '';
	   position:absolute;
	   width: 0;
	   height: 0;
	   border-left: 175px solid transparent;
	   border-top: 30px solid transparent;
	   border-right: 175px solid @white;
	   border-bottom: 30px solid @white;
	   position: absolute;
	   top: 460px;
	   right: (@desktop-width / 2) - 350;
		}
	}
	.header__logo {
		display: none;
	}
	.header__button {
		display: none;
	}
	.header__text {
		width: 460px;
		height: 350px;
		top: 48%;
	}
	.header__a {
		.out-green;
		display: none;
	}
}
