.map {
	position: relative;
	margin-top: 50px;
	width: 320px;
	min-height: 350px;
}

.map__a {
	position: relative;
	display: block;
	width: inherit;
	height: inherit;
}

.map__img {
	display: block;
	position: relative;
	width: inherit;
	height: inherit;
}

.map__a::after {
		content: "";
		position: absolute;
		width: 27px;
		height: 27px;
		background-image: url("../image/map-marker.png");
		top: 50%;
		left: 50%;
		margin-top: -14px;
		margin-left: -14px;
}

.map__a--tablet {
	display: none;
}
.map__a--desktop {
		display: none;
	}

@media (min-width: @tablet-width) {
	.map__a {
		display: none;
	}
	.map__a--tablet {
		display: block;
		position: relative;
		width: 768px;
		min-height: 350px;
		&::after {
		content: "";
		position: absolute;
		width: 27px;
		height: 27px;
		background-image: url("../image/map-marker.png");
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}
	}
}

@media (min-width: @desktop-width) {
	.map__a--tablet {
		display: none;
	}
	.map__a--desktop {
		display: block;
		position: relative;
		width: 1200px;
		min-height: 350px;
		&::after {
		content: "";
		position: absolute;
		width: 27px;
		height: 27px;
		background-image: url("../image/map-marker.png");
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}
	}
}
