.nav-list {
	width: 320px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-image: url("../image/bottom-border-last-child.png");
		background-repeat: no-repeat;
		width: 320px;
		height: 7px;
		left: 0;
		bottom: 0;
	}
}

.nav-list__element {
	border-bottom: 1px solid @border-dark;
	border-top: 1px solid @border-light;
	width: 320px;
	&:first-child {
			border-top: none;
	}
	&:last-child {
			border-bottom: none;
	}
	&:nth-child(3) {
		display: none;
	}
}

.nav-list__link {
	display: flex;
	text-decoration: none;
	background-color: @blue;
	padding: 16px 20px;
}

.nav-list__contain {
	color: @white;
	.PTSans-18-bold;
	text-transform: uppercase;
	margin: 0 auto;
	font-size: 14px;
	line-height: 26px;
}

.nav-list__a--logo {
	display: none;
}

.nav-list__element--tablet {
	display: none;
}

@media (min-width: @tablet-width) {
	.nav-list {
		width: @tablet-width;
		position: relative;
		display: flex;
		flex-direction: row;
		&::after {
			display: none;
		}
	}
	.nav-list__logo {
		margin: 0;
		padding: 0;
	}
	.nav-list__element {
		border: none;
		width: 320px;
		/*.out-red;*/
		&:first-child {
				border-top: none;
		}
		&:last-child {
				border-bottom: none;
		}
		&:nth-child(3) {
			display: block;
		}
		.nav-list__a--logo {
			display: block;
			position: absolute;
			width: 102px;
			height: 83px;
			margin: 0;
			padding: 0;
			top: 0;
			left: 50%;
			margin-left: -51px;
			z-index: 100;
		}
	}
	.nav-list__link {
		background-color: @white;
	}

	.nav-list__contain {
		color: @black;
	}
	.nav-list__element--tablet {
		display: block;
	}	
}
