.small-advantages {
	min-height: 436px;
	background-color: @white;
	/*outline: 1px solid green;*/
}

.small-advantages__item {
	position: relative;
	box-sizing: border-box;
	min-height: 132px;
	margin: 0 20px;
	padding: 37px 0 0 50px;
	/*outline: 2px solid black;*/
	&::before {
		content: "";
		position: absolute;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		left: 0;
		top: 28px;
	}
	&:nth-of-type(1)::before {
		background-image: url("../image/icon-house.png");
	}

	&:nth-of-type(2)::before {
		background-image: url("../image/icon-gift.png");
	}

	&:nth-of-type(3)::before {
		background-image: url("../image/icon-burger.png");
	}

}
.small-advantages__h2 {
	.PTSans-18-bold;
	color: @black;
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0;
}
.small-advantages__p {
	.PTSans-18-regular;
	color: @black;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 12px;

}

@media (min-width: @tablet-width) {
	.small-advantages {
		display: flex;
		width: @tablet-width;
		justify-content: space-around;
		min-height: 0;
 
	}
	.small-advantages__item {
		width: 180px;
		min-height: 332px;
		padding: 0;
		padding-top: 160px;
		/*outline: 2px solid green;*/
		box-sizing: border-box;
		&::before {
			content: "";
			position: absolute;
			width: 70px;
			min-height: 60px;
			background-repeat: no-repeat;
			left: 50%;
			transform: translate(-50%);
			top: 60px;
			background-size: contain;
			/*outline: 2px solid red;*/
		}
		&:nth-of-type(1)::before {
			background-image: url("../image/icon-house-tablet.png");
		}

		&:nth-of-type(2)::before {
			background-image: url("../image/icon-gift-tablet.png");
		}

		&:nth-of-type(3)::before {
			background-image: url("../image/icon-burger-tablet.png");
		}
	}
	.small-advantages__h2 {
		width: 100px;
		font-size: 21px;
		line-height: 26px;
		/*outline: 2px solid green;*/
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.small-advantages__p {
		width: 165px;
		font-size: 14px;
		line-height: 21px;
		/*outline: 2px solid green;*/
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}




}