.PTSans-18-regular {
	font-family: 'PTSans-Regular', sans-serif;
	font-size: 18px;
	line-height: 18px;
}

.PTSans-18-bold {
	font-family: 'PTSans-Bold', sans-serif;
	font-size: 18px;
	line-height: 18px;
}