@blue: #81b3d2;
@white: #ffffff;
@dark-grey: #5d5d5d;
@black: #000000;
@light-grey: #fefefe;
@grey: #eeeeee;
@border-light: #9ac2db;
@border-dark: #678fa8;
@body-width: 320px;

/*fonts*/
@font-regular: 'PTSans-Regular';
@font-bold: 'PTSans-Bold';