/*fonts*/
.PTSans-18-regular {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
}
.PTSans-18-bold {
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
}
.align {
  margin-left: auto;
  margin-right: auto;
}
.out-green {
  outline: 2px solid red;
}
.out-red {
  outline: 2px solid green;
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  /*outline: 1px solid red;*/
  padding: 0;
  margin: 0;
}
nav {
  /*outline: 2px solid blue;*/
}
ul {
  /*outline: 2px solid black;*/
  padding: 0;
  margin: 0;
}
li {
  /*outline: 1px solid blue;*/
  /*padding: 0;
	margin: 0;*/
  list-style: none;
}
body {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  /*outline: 2px solid red;*/
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}
.nav-main {
  position: relative;
  display: block;
  min-height: 223px;
  width: 320px;
  /*outline: 2px solid red;*/
}
@media (min-width: 768px) {
  .nav-main {
    position: relative;
    min-height: 57px;
    width: 768px;
    /*outline: 2px solid red;*/
  }
}
.nav-main__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 14px;
  right: 16px;
  border: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}
.nav-main__button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 6px;
  top: 50%;
  margin-top: -3px;
  background-color: #ffffff;
}
.nav-main__button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 30px;
  left: 50%;
  margin-left: -3px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .nav-main__button {
    display: none;
  }
}
.nav-list {
  width: 320px;
  position: relative;
}
.nav-list::after {
  content: "";
  position: absolute;
  /*background-color: red;*/
  background-image: url("../image/bottom-border-last-child.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 7px;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .nav-list {
    width: 768px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /*outline: 1px solid red;*/
  }
  .nav-list::after {
    display: none;
  }
  .nav-list__logo {
    margin: 0;
    padding: 0;
  }
}
.nav-list__element {
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  width: 320px;
}
.nav-list__element:first-child {
  border-top: none;
}
.nav-list__element:last-child {
  border-bottom: none;
}
.nav-list__element:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .nav-list__element {
    border: none;
    width: 320px;
  }
  .nav-list__element:first-child {
    border-top: none;
  }
  .nav-list__element:last-child {
    border-bottom: none;
  }
  .nav-list__element:nth-child(3) {
    display: block;
  }
}
.nav-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background-color: #81b3d2;
  padding: 16px 20px;
}
.nav-list__contain {
  color: #ffffff;
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
}
.header {
  display: block;
  position: relative;
  min-height: 446px;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  /*outline: 1px solid blue;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*background-color: violet;*/
  /*margin-top: 0;
	background-image: url("../image/back-mobile.png");
	background-repeat: no-repeat;
	background-position: center 56px;*/
}
.header::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 80px solid #ffffff;
  border-top: 13px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 13px solid #ffffff;
  top: 418px;
  left: 0;
  z-index: 100;
  /*outline: 1px solid red;*/
}
.header::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-top: 13px solid transparent;
  border-right: 80px solid #ffffff;
  border-bottom: 13px solid #ffffff;
  top: 418px;
  right: 0;
  /*outline: 1px solid red;*/
}
@media (min-width: 768px) {
  .header {
    width: 768px;
  }
  .header::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 192px solid #ffffff;
    border-top: 19px solid transparent;
    border-right: 192px solid transparent;
    border-bottom: 19px solid #ffffff;
    position: absolute;
    top: 537px;
    left: 0;
    z-index: 100;
    /*outline: 1px solid red;*/
  }
  .header::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 192px solid transparent;
    border-top: 19px solid transparent;
    border-right: 192px solid #ffffff;
    border-bottom: 19px solid #ffffff;
    position: absolute;
    top: 537px;
    right: 0;
  }
}
.header__a {
  display: block;
  position: absolute;
  width: 102px;
  height: 83px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 50%;
  margin-left: -51px;
  z-index: 100;
  /*outline: 1px solid red;*/
}
.header__logo {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .header__logo {
    display: none;
  }
}
.header__button {
  position: absolute;
  top: 18px;
  right: 20px;
  background-image: url("../image/icon-menu.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 23px;
  height: 21px;
  border: none;
}
@media (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__welcome {
  position: relative;
  text-align: center;
  width: 320px;
  min-height: 388px;
  background-image: url("../image/back-mobile.png");
  background-repeat: no-repeat;
  /*padding-left: (@body-width - @width) / 2;*/
  /*outline: 2px solid black;*/
}
@media (min-width: 768px) {
  .header__welcome {
    width: 768px;
    height: 518px;
    background-image: url("../image/back-desktop.png");
  }
  .header__welcome::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 175px solid #ffffff;
    border-top: 30px solid transparent;
    border-right: 175px solid transparent;
    border-bottom: 30px solid #ffffff;
    position: absolute;
    top: 459px;
    left: 34px;
    z-index: 100;
  }
  .header__welcome::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 175px solid transparent;
    border-top: 30px solid transparent;
    border-right: 175px solid #ffffff;
    border-bottom: 30px solid #ffffff;
    position: absolute;
    top: 459px;
    right: 34px;
  }
}
/*.header__mountains {
	display: block;
	position: absolute;
	width: 320px;
	min-height: 388px;
}*/
.header__text {
  display: block;
  position: absolute;
  width: 282px;
  height: 214px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*outline: 4px solid red;*/
}
@media (min-width: 768px) {
  .header__text {
    width: 460px;
    height: 350px;
    top: 48%;
  }
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  margin: -1px;
}
.advantages {
  /*min-height: 2063px;*/
  /*text-align: center;*/
  /*outline: 2px solid green;*/
}
.advantages__slogan {
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  margin-top: 42px;
  width: 264px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  /*outline: 1px solid black;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .advantages__slogan {
    margin-top: 64px;
    width: 460px;
    font-size: 21px;
    line-height: 26px;
  }
}
.advantages__reasons {
  margin-top: 32px;
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  width: 264px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .advantages__reasons {
    width: 520px;
  }
}
.advantages__list {
  margin-top: 28px;
  /*outline: 3px solid orange;*/
  min-height: 470px;
}
.advantages__item {
  /*outline: 2px solid red;*/
  /*&:last-of-type {
		background-color: @grey;
	}*/
}
@media (min-width: 768px) {
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*align-items: stretch;*/
    /*min-height: 256px;*/
  }
}
.block-reason {
  position: relative;
  background-color: #81b3d2;
  width: 320px;
  height: 256px;
  padding-top: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.block-reason--triangle {
  position: relative;
  background-color: #81b3d2;
  width: 320px;
  height: 256px;
  padding-top: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 61px;
  /*outline: 2px solid red;*/
  text-align: center;
}
.block-reason--triangle::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 81px solid transparent;
  border-top: 8px solid #ffffff;
  border-right: 81px solid #ffffff;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.block-reason--triangle::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 81px solid #ffffff;
  border-top: 8px solid #ffffff;
  border-right: 81px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .block-reason--triangle {
    width: 256px;
    min-height: 256px;
    padding-top: 50px;
  }
  .block-reason--triangle::before {
    display: none;
  }
  .block-reason--triangle::after {
    display: none;
  }
}
.block-reason__h2 {
  font-family: 'PTSans-Bold', sans-serif;
  margin-top: 0;
  font-size: 18px;
  color: #ffffff;
  line-height: 26px;
  text-transform: uppercase;
  width: 210px;
  text-align: center;
  /*outline: 4px solid red;*/
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .block-reason__h2 {
    display: block;
    font-size: 21px;
    line-height: 26px;
    width: 182px;
    margin-left: auto;
    margin-right: auto;
    /*outline: 2px solid green;	*/
  }
}
.block-reason__p {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  text-transform: uppercase;
  width: 280px;
  text-align: center;
  /*outline: 2px solid green;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .block-reason__p {
    width: 182px;
    margin-left: auto;
    margin-right: auto;
  }
}
.block-reason__a {
  display: block;
  width: 320px;
  height: 256px;
  /*background-image: url("../image/photo-city@1x.png");
	background-repeat: no-repeat;*/
}
.block-reason__a--tablet {
  display: none;
}
@media (min-width: 768px) {
  .block-reason__a {
    display: none;
  }
  .block-reason__a--tablet {
    display: block;
    height: 256px;
    /*min-height: 256px;*/
  }
}
.block-reason__img {
  width: 320px;
  /*min-height: 256px;*/
}
@media (min-width: 768px) {
  .block-reason__img {
    width: 512px;
  }
}
@media (min-width: 768px) {
  .block-reason--order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .block-reason--order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .block-reason--order3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.small-advantages {
  min-height: 436px;
  background-color: #ffffff;
  /*outline: 1px solid green;*/
}
.small-advantages__item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 132px;
  margin: 0 20px;
  padding: 37px 0 0 50px;
  /*outline: 2px solid black;*/
}
.small-advantages__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  left: 0;
  top: 28px;
}
.small-advantages__item:nth-of-type(1)::before {
  background-image: url("../image/icon-house.png");
}
.small-advantages__item:nth-of-type(2)::before {
  background-image: url("../image/icon-gift.png");
}
.small-advantages__item:nth-of-type(3)::before {
  background-image: url("../image/icon-burger.png");
}
.small-advantages__h2 {
  font-family: 'PTSans-Bold', sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.small-advantages__p {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 12px;
}
@media (min-width: 768px) {
  .small-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 0;
  }
  .small-advantages__item {
    width: 180px;
    min-height: 332px;
    padding: 0;
    padding-top: 160px;
    /*outline: 2px solid green;*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .small-advantages__item::before {
    content: "";
    position: absolute;
    width: 70px;
    min-height: 60px;
    background-repeat: no-repeat;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    top: 60px;
    background-size: contain;
    /*outline: 2px solid red;*/
  }
  .small-advantages__item:nth-of-type(1)::before {
    background-image: url("../image/icon-house-tablet.png");
  }
  .small-advantages__item:nth-of-type(2)::before {
    background-image: url("../image/icon-gift-tablet.png");
  }
  .small-advantages__item:nth-of-type(3)::before {
    background-image: url("../image/icon-burger-tablet.png");
  }
  .small-advantages__h2 {
    width: 100px;
    font-size: 21px;
    line-height: 26px;
    /*outline: 2px solid green;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .small-advantages__p {
    width: 165px;
    font-size: 14px;
    line-height: 21px;
    /*outline: 2px solid green;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.Nreason {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  background-image: url("../image/Layer62.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  /*outline: 2px solid green;*/
}
.Nreason:last-of-type {
  background-image: none;
}
.Nreason__h2 {
  font-family: 'PTSans-Bold', sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 29px;
}
.Nreason__p {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
.Nreason__p:last-of-type {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .Nreason-grey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    background-color: #eeeeee;
    /*outline: 2px solid red;*/
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Nreason {
    width: 200px;
    background-image: none;
  }
  .Nreason__h2 {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 18px;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
    width: 136px;
    margin-left: auto;
    margin-right: auto;
  }
  .Nreason__p {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 18px;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 12px;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
  }
}
.booking {
  min-height: 250px;
  padding-top: 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.booking__b {
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.booking__p {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.booking__button {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 21px 36px 21px 36px;
  text-transform: uppercase;
  text-decoration: none;
}
.booking_p--tablet {
  display: none;
}
@media (min-width: 768px) {
  .booking {
    /*outline: 2px solid red;*/
    padding-top: 55px;
  }
  .booking__b {
    font-size: 30px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    /*outline: 2px solid red;*/
  }
  .booking__p {
    display: none;
    /*outline: 2px solid red;*/
  }
  .booking__button {
    font-size: 21px;
    line-height: 26px;
  }
  .booking__p--tablet {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom: 45px;
    padding: 0;
  }
}
.map {
  position: relative;
  margin-top: 50px;
  width: 320px;
  min-height: 350px;
}
.map__a {
  position: relative;
  display: block;
  width: inherit;
  height: inherit;
}
.map__img {
  display: block;
  position: relative;
  width: inherit;
  height: inherit;
}
.map__a::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../image/map-marker.png");
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}
.map__a--tablet {
  display: none;
}
@media (min-width: 768px) {
  .map__a {
    display: none;
  }
  .map__a--tablet {
    display: block;
    position: relative;
    width: 768px;
    min-height: 350px;
  }
  .map__a--tablet::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-image: url("../image/map-marker.png");
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /*margin-top: -14px;
		margin-left: -14px;*/
  }
}
.footer {
  position: relative;
  background-color: #fefefe;
  padding-top: 39px;
  /*padding-bottom: 30px;*/
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer__hashtag {
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
  width: 160px;
  min-height: 54px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__social {
  width: 48px;
  height: 48px;
}
.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.footer__academy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}
.footer__academy-p {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__academy-img {
  display: block;
  top: 50%;
  margin-top: -17px;
  width: 27px;
  height: 34px;
}
@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*justify-content: space-around;*/
    /*	.out-red;*/
    min-height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__hashtag,
  .footer__list,
  .footer__academy-link {
    /*.out-green;*/
    margin: 0;
  }
  .footer__hashtag {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .footer__academy-link {
    min-height: 60px;
  }
}
/*@import "/blocks/XXX.less";

@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";*/
