/*fonts*/
.PTSans-18-regular {
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
}
.PTSans-18-bold {
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  /*outline: 1px solid red;*/
  /*padding: 0;
	margin: 0;*/
}
nav {
  /*outline: 2px solid blue;*/
}
ul {
  /*outline: 2px solid black;*/
  padding: 0;
  margin: 0;
}
li {
  /*outline: 1px solid blue;*/
  /*padding: 0;
	margin: 0;*/
  list-style: none;
}
body {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid red;
}
.nav-main {
  position: relative;
  display: block;
  min-height: 223px;
  width: 320px;
}
.nav-main__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 14px;
  right: 16px;
  border: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}
.nav-main__button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 6px;
  top: 50%;
  margin-top: -3px;
  background-color: #ffffff;
}
.nav-main__button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 30px;
  left: 50%;
  margin-left: -3px;
  background-color: #ffffff;
}
.nav-list {
  width: 320px;
  position: relative;
}
.nav-list::after {
  content: "";
  position: absolute;
  /*background-color: red;*/
  background-image: url("../image/bottom-border-last-child.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 7px;
  left: 0;
  bottom: 0;
}
.nav-list__element {
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  width: 320px;
}
.nav-list__element:first-child {
  border-top: none;
}
.nav-list__element:last-child {
  border-bottom: none;
}
.nav-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background-color: #81b3d2;
  padding: 21px 20px;
}
.nav-list__contain {
  color: #ffffff;
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}
.header {
  position: relative;
  min-height: 446px;
  /*background-color: violet;*/
  margin-top: 0;
  background-image: url("../image/back-mobile.png");
  background-repeat: no-repeat;
  background-position: center 56px;
}
.header::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 80px solid #ffffff;
  border-top: 26px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 26px solid #ffffff;
  position: absolute;
  top: 393px;
  left: 0;
}
.header::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-top: 26px solid transparent;
  border-right: 80px solid #ffffff;
  border-bottom: 26px solid #ffffff;
  position: absolute;
  top: 393px;
  right: 0;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -51px;
}
.header__button {
  position: absolute;
  top: 18px;
  right: 20px;
  background-image: url("../image/icon-menu.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 23px;
  height: 21px;
  border: none;
}
.header__text {
  margin-top: 146px;
  text-align: center;
  width: 282px;
  height: 214px;
  padding-left: 19px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  margin: -1px;
}
.advantages {
  min-height: 2063px;
  outline: 2px solid green;
}
.advantages__slogan {
  font-family: 'PTSans-Bold', sans-serif;
  font-size: 18px;
  margin-top: 42px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  outline: 1px solid black;
  text-align: center;
}
.advantages__reasons {
  margin-top: 32px;
  font-family: 'PTSans-Regular', sans-serif;
  font-size: 18px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
/*@import "/blocks/XXX.less";

@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";
@import "/blocks/XXX.less";*/
